<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>floppyburd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F7EC5EC1C7968C20000E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7EC6041C7968C20000E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7EC60F1C7968C20000E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
